@import '../base/variables'; 

.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 80rem;
  margin: 0 auto; 
  padding-top: clamp(8rem,4.43rem + 8.93vw,13rem);
  padding-bottom: clamp(8rem,4.43rem + 8.93vw,13rem);

  .register__external {
    display: flex;

    .register__container {
      font-family: 'Brilon', serif;
      display: flex;
      flex-direction: column;
      max-width: 100%;
      
      .register__content {
        left: 20%;
        top: 50%;
        text-align: left;
        color: white;
      }

      .register__title,
      .register__subtitle {
        font-size: 52px;
        font-weight: 400;
        text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
      }

      .register__subtitle {
        margin-left: 40px;
      }

      .register_arrow {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 10px;
      }

      .register_arrow_span {
        display: block;
        width: 235px;
        height: 1px;
        background-color: rgb(121, 103, 65);
      }

      .register__description {
        .register__description__paragraph {
          font-family: 'Loretta', serif;
          --tw-text-opacity: 1!important;
          color: #fff;
          font-weight: 300;
          letter-spacing: 0.7px;
          margin-top: 20px;
        }
      }
    }

    .form__container {
      display: flex;
      align-items: center;
      justify-content: center;

      .register__image {
        position: absolute;
        right: 1em;
        width: 500px;
        height: 690px; 
      }
    }
  }
}

@include respond("mobile") {
  .register {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 4rem 1rem;

    .register__external {
      display: flex;
      flex-direction: column; 
      align-items: center;
      justify-content: center;
    }

    .register__container {
      order: 0;
      align-items: center;
      text-align: center;

      .register__content {
        left: auto;
        top: auto;
        text-align: center;

        .register__title,
        .register__subtitle {
          font-size: 20px;
          font-weight: 400;
          text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
          text-align: center;
        }

        .register__subtitle {
          margin-left: 0;
        }
      }

      .register__subtitle {
        margin-left: 0px;
      }

      .register_arrow_span {
        width: 100%;
      }
    }
  }
  .form__container {
    display: flex;
    align-items: center;
    justify-content: center;

    .register__image {
      display: none;
    }
  }
}