@import '../base/variables';

.section__synopsis,
.section__carousel {
  --tw-bg-opacity: 1;
  background-color: rgb(184 181 176/var(--tw-bg-opacity));
}

.section__carousel {
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}

.section__register {
  background-image: 
    linear-gradient(
      to bottom,
      rgba(18, 22, 26) 0%,
      rgba(18, 22, 26, 0.95) 20%,
      rgba(18, 22, 26, 0.6) 40%,
      rgba(18, 22, 26, 0.6) 60%,
      rgba(18, 22, 26, 0.9) 80%,
      rgba(18, 22, 26, 0.9) 100%
    ),
    url('/images/assets/background/1738064511-signup-bkg-img-1.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  svg.absolute {
    
  }
}



@include respond("mobile")  {
  .section__carousel {
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
  }
}