@import '../../../../styles/base/variables';

.social-media__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 16px 0;
}

@include respond("mobile") {
  .social-media__container {
    flex-direction: column;
    gap: 1rem;
  }
}